body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    margin: 0px;

    margin-bottom: 30px;
}

.top {
    padding-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0)), url(images/donate-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 100px;
    text-align: center;

}

.top-h1 {
    color: aliceblue;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-color: yellowgreen;
    padding: 15px 5px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 22px;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    height: 22px;
    width: 150px;
    text-align: center;
}

.top p {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.donation {
    display: block;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.don-dis {
    display: flex;
    justify-content: center;
}

.don-dis h1 {
    padding-left: 25px;
    padding-right: 25px;
}

#link {
    margin: auto;
    display: block;
}

.box{

    margin: 10px 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px white solid;
    border-radius: 5px;
    background-color: rgba(207, 204, 204, 0.345);
}

#box1{border: 2px rgb(221, 73, 73) solid;
    border-radius: 5px;
    background-color: rgba(192, 67, 67, 0.273);

}